body {
  background-color: #280033;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  list-style: none;
}

a {
  position: relative;
  display: block;
  padding: 15px 30px;
  margin: 0 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffeb3b;
}

a:before, a:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .1s;
    box-sizing: border-box;
} 

a:before {
  top: 0;
  left: 0;
  border-top: 2px solid #ffeb3b;
  border-left: 2px solid #ffeb3b;
  transform-origin: left;
}

a:after {
  bottom: 0;
  right: 0;
  border-bottom: 2px solid #ffeb3b;
  border-right: 2px solid #ffeb3b;
  transform-origin: right;
}

a:hover:before, a:hover:after {
  width: 15px;
  height: 15px;
  transform: rotate(360deg);
  transition: all .5s;
}
