.custom-btn {
  text-transform: uppercase;
  background: transparent;
  position: relative;
  width: 250px;
  height: 80px;
  color: #250e74;
  font-weight: 600;
  border: 4px solid #250e74;
  font-size: 24px;
  letter-spacing: 3px;
  transition: all 0.5s;
  overflow: hidden;
}

.custom-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-top: 40px solid #250e74;
  border-bottom: 40px solid #250e74;
  border-right: 40px solid transparent;
  transition: all 0.5s;
  z-index: -1;
  transform: translateX(-100%);
}

.custom-btn:hover:before {
  transform: translateX(0%);
}

.custom-btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-top: 40px solid #250e74;
  border-bottom: 40px solid #250e74;
  border-left: 40px solid transparent;
  transition: all 0.5s;
  z-index: -1;
  transform: translateX(100%);
}

.custom-btn:hover:after {
  transform: translateX(0%);
}

.custom-btn:hover {
  color: white;
}
